# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.eggs/

# Env / secrets
.env
.env.local
.env.production.local
*.tfvars

# Node
frontend/node_modules/
frontend/dist/

# MLflow
mlruns/

# Terraform state
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/.terraform.lock.hcl

# macOS
.DS_Store

# IDE
.vscode/
.idea/
